.footer {
  background-color: #EAD8C0;
  color: #3E3232;
  padding: 20px 0;
  width: 100%;
  margin: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;
}

.footer-item {
  font-size: 14px;
}

.footer-item a {
  color: #3E3232;
  text-decoration: underline;
}

.footer-item a:hover {
  color: #A79277;
}

.footer-item a:active {
  color: #A79277;
}