.main {
  width: 100%;
  min-height: calc(100vh - 200px);
  flex: 1;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.lists-container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #FFF2E1;
  border-radius: 10px;
  padding-bottom: 20px;
}